#slideshowImages {
    width: 60vw;
    height: 55vh;
    border-radius: 0.7%;
}

.slide-container {
    padding: 0;
    margin: 10vh auto;
    width: 60vw;
    height: auto;
}

.eachFade {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-container-listing-detail {
    margin-top: 0;
}

#listingDescription {
    width: 80vw;
}

.listingDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}