#slideshowImages {
    width: 60vw;
    height: 55vh;
    border-radius: 0.7%;
}

.slide-container {
    padding: 0;
    margin: 10vh auto;
    width: 60vw;
    height: auto;
}

.eachFade {
    display: flex;
    justify-content: center;
    align-items: center;
}