.App {
  text-align: center;
}

.App > img {
  height: 400px;
  width: 100%;
  z-index: 5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited, a:hover, a:active {
  color: inherit;
}

#cartIcon {
  top: 4%;
  position: absolute;
  right: 2%;
  z-index: 20;
  color: black;
  background: transparent;
  border: none;
}

#cartIcon:hover {
  cursor: pointer !important;
}

#addToCartButton{
  margin-left: 25px;
}

#addToCartButton:hover{
  cursor: pointer;
}

.product-count {
  border: 1px solid black;
  border-radius: 50%;
  width: 1000px;
  height: 20px;
  padding: 2px 5px;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  z-index: 100;
}
